@import url('https://fonts.googleapis.com/css?family=Poiret+One');
* {margin:0;padding:0;box-sizing:border-box;}
img {
	width:300px;
}
body {
	color:#333;
	font-family: "Avenir Book", monospace;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
h1, h3 {
	font-weight: normal;
}
h1 {
	font-size: 24px;
}
#name {
	font-family: 'Poiret One', cursive;
}
h2 {
	text-transform: lowercase;
    font-size: 34px;
}
h3 {
	font-size: 22px;
}
p {
	font-size: 18px;
	font-style: italic;
}
ul {
	list-style-type: none;
}
#intro {
	background:url(../images/StockSnap_8AYJY0K62O.jpeg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height:90vh;
	padding: 4em;
	padding-left: 1em;
}
#recent_finds {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
}
.clearfix: after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: o;
}
#left {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 45%;
	margin: 20px;
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 45%;
	margin: 20px;
}
#articles {
	background-color: #E89C6C;
	border: 1px black solid;
}
#wrapper {
	width: 560 px;
	padding: 20px;
	margin: 20px;
	float: left;
}
#collection {
	background-color: #FFE2B8;
	border: 1px black solid;
}
#footer {
	background-color: #FF957E;
	border: 1px black solid;
}
#about {
	background-color: #FFE2B8;
	border: 1px black solid;
}