body {
	background: url(StockSnap_8AYJY0K62O.jpeg);
	}
	h1, h2, h3, p, ul {
	color: #000000;
	font-family: "Avenir Book", monospace;
	font-weight: normal;
	}
	h1 {
	text-align: left;
	font-size: 24px;
	font-style: normal;
	}
	h2 {
	font-weight: bold;
	text-transform: lowercase;
	}
	#slogan {
    text-align: center;	
    font-size: 34px;
	}
	
	h3 { 
	font-size: 22px;
	text-align: center;
	}
	p {
		font-size: 18px;
		font-style: italic;
		text-align: left;
	}
	ul {
		text-align: left;
		list-style-type: none;
	}