body {
	background: url(StockSnap_8AYJY0K62O.jpeg);
}
	h1, h2, h3, p, ul {
	color: #000000;
	font-family: "Avenir Book", monospace;
	font-weight: normal;
}
	h1 {
	text-align: left;
	font-size: 24px;
	font-style: normal;
}
	h2 {
	font-weight: bold;
}
 	#slogan {
	text-transform: lowercase;
	font-size: 20px
	text-align: center;	
}
	h3 { 
	font-size: 18px;
	text-align: center;
	}
	p {
		font-size: 14px;
		font-style: italic;
		text-align: left;
	}
	ul {
		text-align: left;
		list-style-type: none;
	}